<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>SASKİ HAKEDİS</title>
		<link rel="shortcut icon" type="png" href="/assets/gorseller/mlogofav.png" />
		<link rel="stylesheet" type="text/css" href="/assets/css/login.css" />
	</head>
	<body>
		<div class="login-container">
			<h1>GİRİS SAYFASI</h1>
			<img src="/assets/gorseller/mlogo.png" alt="LOGO" />

			<% if (message && message.length > 0) { %>
			<div class="message">
				<div class="message-x"><strong>HATA! </strong><%= message[0] %></div>
			</div>
			<% } %>

			<form action="/" method="POST">
				<input
					type="text"
					name="username"
					value="memo"
					class="input-field"
					placeholder="Kullanıcı Adı Girin"
				/>
				<input type="password" name="password" value="memo" "input-field" placeholder="Şifre Girin"
				/>
				<button type="submit" class="btn" value="LOGIN">Giriş Yap</button>
			</form>
		</div>
	</body>
</html>
