<!DOCTYPE html>
<html>
<head>
  <title>Kayıt Olma Sayfası</title>
  <link rel="stylesheet" type="text/css" href="/assets/css/register.css">
</head>
<body>
  <div class="register-container">
    <h1>Kayıt Ol</h1>
    <% if (message && message.length > 0) { %>
			<div class="message">
				<div class="message-x"><strong>HATA! </strong><%= message[0] %></div>
			</div>
			<% } %>
    <form action="/register" class="input-field"method="POST">
      <input type="text" name="username" class="input-field" placeholder="Kullanıcı Adı" required/>
      <input type="password" name="password" class="input-field" placeholder="Şifre" required>
      <input type="text" name="kurum_id" class="input-field" placeholder="Kurum İd" required/>
      <input type="text" name ="isim" class="input-field" placeholder="İsim" required>
      <input type="text" name="soyisim" class="input-field" placeholder="Soyisim" required>
      <input type="email" name="eposta" class="input-field" placeholder="E-posta" required>
      <input type="tel" name="telefon" class="input-field" placeholder="Telefon" required> 
      <textarea name="adres" placeholder="Adres" required></textarea>
      <button type="submit">Kayıt Ol</button>
    </form>
  </div>
</body>
</html>