* {
	font-family: 'Roboto', sans-serif;
	outline: none;
	border: none;
}

body {
	font-family: Arial, sans-serif;
	background-color: #f2f2f2;
	margin: 0;
	padding: 0;
}
img {
	margin-left: 100px;
	align-items: center;
}

.login-container {
	width: 300px;
	margin: 100px auto;
	background-color: #fff;
	padding: 50px;
	border-radius: 20px;
	border: rgb(46, 48, 120);
	border: 4px solid rgb(46, 48, 120);
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

h1 {
	text-align: center;
	color: rgb(46, 48, 120);
}

form {
	margin-top: 20px;
}

input[type='text'],
input[type='password'] {
	width: 100%;
	padding: 10px;
	margin-bottom: 10px;
	border: 1px solid #ccc;
	border-radius: 3px;
}

button {
	width: 108%;
	padding: 10px;
	background-color: rgb(46, 48, 120);
	color: #fff;
	border: none;
	border-radius: 3px;
	cursor: pointer;
}

button:hover {
	background-color: rgb(106, 109, 206);
}
p {
	margin-top: 10px;
}

a:hover {
	text-decoration: underline;
}

.message {
	width: 105%;
  padding: 1%;
	margin-top: 10px;
	background-color: rgb(106, 109, 206);
	border-radius: 10px;
	border: rgb(46, 48, 120);
	border: 1.5px solid rgb(46, 48, 120);
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
.message-x {
  margin-left: 40px;
	color: white;
}
