* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
}

.register-container {
  width: 40%;
  margin: 100px auto;
  background-color: #fff;
  padding: 35px;
  border-radius: 20px;
  border: 4px solid rgb(46, 48, 120);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  color: rgb(46, 48, 120);
}

form {
  margin-top: 20px;
}

input[type="user"],
input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
textarea {
  width: 95%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

button {
  width: 102%;
  padding: 10px;
  background-color: rgb(46, 48, 120);
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  
}

button:hover {
  background-color:rgb(106, 109, 206);
}
header {
  background-color: rgb(46, 48, 120);
  color: #fff; /* Bağlantılar için metin rengi */
  padding: 1px 0; /* Üst ve alt için bir miktar dolgu ekleyin */
  position: relative; /* Pozisyonu ayarla */
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 95%;
  margin: 0 auto;
  padding: 0 20px;
}

nav img {
  width: 60px;
  padding: 10px;
}

nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  margin-right: auto; /* Sağı otomatik olarak itin */
}

nav ul li {
  margin-right: 20px;
}

nav ul li:last-child {
  margin-right: 0;
}

.message {
	width: 95%;
  padding: 1%;
	margin-top: 10px;
	background-color: rgb(106, 109, 206);
	border-radius: 10px;
	border: rgb(46, 48, 120);
	border: 1.5px solid rgb(46, 48, 120);
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
.message-x {
  margin-left: 40px;
	color: white;
}
