body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
}

.register-container {
  width: 300px;
  margin: 100px auto;
  background-color: #fff;
  padding: 35px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  color: rgb(46, 48, 120);
}

form {
  margin-top: 20px;
}

input[type="user"],
input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

button {
  width: 107%;
  padding: 10px;
  background-color: rgb(46, 48, 120);
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  
}

button:hover {
  background-color:rgb(106, 109, 206);;
}
